.wide-input {
  min-width 320px !important
}

header {
  border-bottom 1px solid #D3D3D3
}

.container {
  max-width 1024px
}

.margin-bottom-15 {
  margin-bottom 15px !important
}

.margin-bottom-10 {
  margin-bottom 10px !important
}

.margin-bottom-0 {
  margin-bottom 0 !important
}

.full-width-button {
  width 100% !important
}

strong {
  color inherit
}