@import "~flatpickr/dist/flatpickr.css";
@import "~bulma/css/bulma.css";
@import "./normalize.css";
.wide-input {
  min-width: 320px;
}
.homepage-input-form-container > .field {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#map {
  max-width: 760px;
  min-height: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
