@import "~flatpickr/dist/flatpickr.css";
@import "~bulma/css/bulma.css";
@import "~font-awesome/css/font-awesome.css";
@import "./normalize.css";
.red-text {
  color: #ff3232 !important;
}
.orange-text {
  color: #ff8c00 !important;
}
.green-text {
  color: #00d1b2 !important;
}
.wide-input {
  min-width: 320px !important;
}
header {
  border-bottom: 1px solid #d3d3d3;
}
.container {
  max-width: 1024px;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.full-width-button {
  width: 100% !important;
}
strong {
  color: inherit;
}
.homepage-input-form-container > .field {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#map {
  max-width: 760px;
  min-height: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.search-input-box-container .input {
  min-width: 200px;
}
.beach-details-section > h1 {
  margin-bottom: 0;
}
.beach-details-section > p {
  margin-bottom: 60px;
}
.suggestion-beach-list-box figure {
  margin: 0;
}
